---
import cn from 'clsx'

import style from './style.module.scss'
import { useLanguage, useText } from '@tools/language'
import Container from '../Container/Container'
import LanguageSelector from '../LanguageSelector/LanguageSelector'
import MenuBar from '../MenuBar/MenuBar'
import Hamburger from '../Hamburger/Hamburger'

let { Logo, menu, languages } = Astro.props
// console.log({ Logo })
const language = useLanguage()
const text = useText()

function prepareMenu(items) {
	return items?.map(item => {
		if (typeof item === 'string') {
			item = { name: item }
		}
		item.href = `/${language}/${item.name}`
		item.name = text(`menu.${item.name}`)
		item.items = prepareMenu(item.items)
		return item
	})
}
menu = prepareMenu(menu)
---

<header class={style.header}>
	<Container className={cn('text-white', style.container)}>
		<div class={style.logo}>
			<Logo />
		</div>
		<MenuBar
			client:load
			className={style.menu}
			items={menu}
		/>
		<LanguageSelector
			className={style.menu}
			items={languages}
		/>
		<Hamburger
			client:load
			className={style.hamburger}
			menu={menu}
			languages={languages}
		/>
	</Container>
</header>
