---
import { getCollection } from 'astro:content'

import { isoDate } from '@tools/date'

let docs = await getCollection('publications')
docs = docs.map(x => x.data)
console.log(docs)
docs.sort((a, b) => a.date > b.date ? -1 : 1)
console.log(docs)
---

{docs.map(doc => {
	const img = `/shot?url=${encodeURIComponent(doc.url)}`
	return (
		<a
			href={doc.url}
			class="block relative w-200 h-100 m-5"
			target="_blank"
		>
			<img
				src={img}
				alt={doc.title}
				class="w-full h-full object-cover object-top"
			/>
			<div
				class="absolute right-0 bottom-0 left-0 h-20"
				style="background-image: linear-gradient(to top, rgba(199,199,199,1), rgba(199,199,199,0));"
			/>
			<span class="absolute right-0 bottom-0 text-white bg-blue-950 p-1">
				{isoDate(doc.date)}
			</span>
		</a>
	)
})}
